@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <h2>Khóa học hot</h2>
    <div class="images-container">
      
    </div>
</div>

<div class="section">
    <h2>Học viên đạt thành tích cao</h2>
    <div class="images-container">
       
    </div>
</div>

<div class="section">
    <h2>Các trung tâm</h2>
    <div class="images-container">
      
    </div>
</div>